* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: lightgrey;
	display: flex;
	justify-content: center;
}

form {
	margin-top: 100px;
	background-color: whitesmoke;
	width: 600px;
	height: 150px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	padding: 25px 15px;

}

form input[name="image"] {
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

form #comment {
	width: 400px;
	border: 0.1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	resize: none;
}

form #submit {
	height: 35px;
	padding: 9px 15px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color:dodgerblue;
}

.klasa {
	width: 600px;
	background-color: whitesmoke;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 5px;	
}